<table border="1">
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Companu</td>
    <td>Telp Number</td>
    <td>E-mail</td>
    <td>Action</td>
  </td>
  <% for(var i = 0; i < data.length; i++) { %>
  <tr>
    <td><%= data[i].id %></td>
    <td><%= data[i].name %></td>
    <td><%= data[i].company%></td>
    <td><%= data[i].telp_number%></td>
    <td><%= data[i].email%></td>
    <td><a href='contacts/edit/<%= data[i].id %>'>Edit </a>|| <a href='contacts/delete/<%= data[i].id %>'>Delete </a></td>
  </tr>
  <%  }  %>

</table>


<!-- Contacts: id type integer, name type string, company type string, telp_number type string, email type string -->

<form action="/contacts" method="post">
  <input type="text" name='name' placeholder="name">
  <input type="text" name='company' placeholder="company">
  <input type="text" name='telp_number' placeholder="telp_number">
  <input type="text" name='email' placeholder="email">
  <button type="submit">Submit</button>
</form>
