<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
    <h1>Halaman Edit</h1>
    <%data.forEach(d => { %>
    <form action="/contacts/edit/<%=data[0].id%>" method="post">
      <br>Id:</br>
      <input type="text" name="nama" value="<%= data[0].id%>">
      <br>Nama:</Br>
      <input type="text" name="nama" value="<%= data[0].nama%>">
      <br>Company:</br>
      <input type="text" name="Company" value="<%= data[0].Company%>">
      <br>Number Telp</Br>
      <input type="text" name="num_telp" value="<%= data[0].num_telp%>">
      <br>Email</Br>
      <input type="text" name="Email" value="<%= data[0].email%>">
      <% }) %>
    </form>
  </body>
</html>
